body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    list-style-type: none;
    text-decoration-line: none;

}

.title-name {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration-line: none;
}
.title-name:active {
    color: #404bbf;
}
.part-title-name:active {
    color: #404bbf;
}

.part-title-name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
text-decoration-line: none;
}

ul {
    list-style-type: none;
}

.title-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
text-decoration: none;
}
.title-link:hover {
    color: #404bbf;
}
.title-link:focus {
    color: #404bbf;
}
.title-link-studio:active {
text-decoration: underline;
}

.adress-contact {
    font-style: normal;
}

.link-contact {
    font-style: normal;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.link-contact:hover {
    color: #404bbf;
}
.link-contact:focus {
    color: #404bbf;
}

.section-title {
    background-color: #2e2f42;
}

.title-one {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #fff;
}

.button-type {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}
.button-type:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #404bbf;
}
.button-type:focus {
    background-color: #404BBF
}

.main-title {
    color: #2e2f42;
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
}

.main-title-text {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.main-title-text-word {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.main-title-section {
    background-color: #F4F4FD;
}

.main-title-team {
    color: #2e2f42;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.main-title-team-list {
    background-color: #FFFFFF;
}

.image-persons:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.name-persons {
    color: #2e2f42;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.job-persons {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.main-portfolio {
    color: #2e2f42;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}

.main-portfolio-photo {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.main-portfolio-title {
    color: #2e2f42;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.main-portfolio-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}












.footer-page {
    background-color: #2e2f42;
}

.footer-name {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
}

.part-title-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

